body,p,ul,li,h1,h2,h3,h4,h5,h6,input,dl,dd{margin: 0; padding: 0;}
body, html{
    height: 100%;
}
body{
    color: #666666;
    font-family: verdana,Tahoma,Arial,Helvetica,snas-serif;
    font-size: 11px;
    line-height: 1.42857;
    min-width: 1024px;
    background: #ffffff;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
input{
    outline: none;
}
li{
    list-style: none;
}
a{
    color: #4F4F4F;
    outline: none;
}
a,
.main-nav li a:hover,
.tab-content li a,
.more-link a:hover,
.topic a:hover{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.cf {
    *zoom: 1;
    *display: inline-block;
    _height: 1%;
}
.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.splitter-left{
    position: relative;
}
.splitter-btn{
    position: absolute;
    height: 20px;
    width: 10px;
    line-height: 18px;
    border: 1px solid #dddddd;
    top: 50%;
    margin-top: -11px;
    color: #a9a9a9;
    cursor: pointer;
    letter-spacing: -3px;
    background: #fafafa;
}
.splitter-btn:hover{
    background: #efefef;
}
.splitter-left .splitter-btn{
    border-radius: 0 3px 3px 0;
    right: -12px;
}

/*frame*/
.wrap{
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}
.wrap-inner{
    padding-bottom: 80px;
}
.simple-page,
.simple-page .contain{
    background: #fafafa;
}

/*header*/
.header{
    padding-top: 25px;
    background: #fafafa;
    zoom: 1;
}
.top-bar{
    height: 24px;
    line-height: 24px;
    margin-top: -25px;
    border-bottom: 1px solid #c9c9c9;
    background: url("../image/top_bar.gif") repeat-x 0 2px;
}
.top-bar .tip{
    display: inline-block;
    padding-left: 24px;
    background: url("../image/info.gif") no-repeat 4px 4px;
}
.top-bar .tiny-menu{
    position: absolute;
    top: 0;
    right: 12px;
}
.tiny-menu li{
    float: left;
    padding-left: 4px;
}
.tiny-menu a{
    color: #666666;
    display: block;
    height: 24px;
    text-indent: -999px;
    overflow: hidden;
    background-image: url("../image/toolbar_icons.gif");
    background-repeat: no-repeat;
}
.tiny-menu .logout a{
    width: auto;
    text-indent: 0;
    background: none;
}
.home a{
    width: 24px;
    background-position: -22px 1px;
}
.landing a{
    width: 22px;
    background-position: -182px 1px;
}
.product a{
    width: 28px;
    background-position: -44px 1px;
}
.email a{
    width: 28px;
    background-position: -69px 1px;
}
.service a{
    width: 28px;
    background-position: -94px 1px;
}
.language a{
    width: 22px;
    background-position: 0 1px;
}
.feedback a{
    width: 80px;
    background: url("../image/feedback_en.gif") no-repeat 0 4px;
}
.help a{
    width: 22px;
    background-position: -142px 1px;
}
.top-search,
.header .logo,
.simple-header .logo{
    margin-left: 40px;
    margin-right: 40px;
}
.header .logo,
.simple-header .logo{
    float: left;
    height: 40px;
    overflow: hidden;
    color: #CC0033;
    padding-left: 150px;
    margin-top: 24px;
    background: url("../image/logo-png8.png") no-repeat -10px 0;
}
.simple-header{
    border-top: 3px solid #a6d1f4;
}
.simple-header .logo{
    margin-top: 2px;
}
.logo h2{
    font-size: 16px;
    line-height: 42px;
    font-weight: normal;
}
.top-search{
    float: right;
    height: 36px;
    border: 1px solid #e9e9e9;
    background:#ffffff url("../image/search-form-bg.gif") repeat-x 0 14px;
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
}
.top-search .search-input{
    height: 34px;
    line-height: 34px;
    border: 1px solid #dddddd;
    width: 380px;
    padding: 0 12px;
    box-shadow: 0 0 3px #cccccc inset;
    font-size: 20px;
    color: #EF003D;
    vertical-align: middle;
    border-radius: 18px 0 0 18px;
}
.top-search .select-option{
    padding: 4px 0;
    line-height: 14px;
}
.select-option input{
    vertical-align: bottom;
    margin: 0 2px 0 6px;
}
.top-search .search-text{
    color: #ffffff;
    height: 36px;
    width: 36px;
    background: #eeeeee url("../image/search-btn.gif") no-repeat center;
    text-indent: -999px;
    overflow: hidden;
    border: 1px solid #cccccc;
    cursor: pointer;
    vertical-align: middle;
}
.area, .nav-wrap{
    clear: both;
}
.area{
    margin: 0 0 6px 40px;
}
.area span{
    cursor: default;
}
.area .heading{
    font-size: 14px;
    font-weight: normal;
}
.area .active{
    font-weight: bold;
}
.main-nav{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 999;
    background: #efefef;
    border-bottom: 1px solid #dddddd;
}
.main-nav ul{
    padding-left: 40px;
}
.main-nav li{
    float: left;
    position: relative;
    line-height: 20px;
    padding: 0 3px;
    margin-left: -5px;
}
.main-nav li a{
    display: block;
    padding: 10px 20px;
    font-size: 12px;
    color: #5e5e5e;
}
.main-nav li a:hover{
    background: #FF456f;
    color: #ffffff;
    -moz-transition: background 0.4s;
    -webkit-transition: background 0.4s;
}
.main-nav .active li a{
    background: none;
    color: #5e5e5e;
}
.main-nav .active a,.main-nav li:hover > a, .main-nav .active li:hover > a{
    background: #FF456f;
    color: #ffffff;
}
.caret{
    border-style: solid;
    border-width: 5px 5px 0 0;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    width: 0;
    border-top-color: #efefef;
    border-right-color: #5e5e5e;
}
.main-nav li:hover .caret, .main-nav .active .caret{
    border-top-color: #FF456f;
    border-right-color: #ffffff;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.main-nav li ul{
    visibility: hidden;
    position: absolute;
    border: 1px solid #dddddd;
    background: #ffffff;
    padding: 3px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    border-radius: 0 0 4px 4px;
}
.main-nav li:hover ul{
    visibility: visible;
}
.main-nav li li{
    float: none;
    margin-left: 0;
}
.main-nav li li a{
    padding-top: 4px;
    padding-bottom: 4px;
}
.user-sub{
    width: 148px;
}
.search-sub{
    width: 160px;
}
.consultant-sub, .practical-sub{
    width: 100%;
}

/*contain*/
.contain{
    margin: 16px 40px;
    background: #ffffff;
    overflow: hidden;
}
.left{
    float: left;
}
.right{
    float: right;
}
.block-right-320{
    padding-right: 320px;
}
.block-right-320 .left{
    width: 90%;
}
.block-right-320 .right{
    width: 320px;
    margin-right: -320px;
}
.blank-10{
    clear: both;
    height: 10px;
    font-size: 0;
}
.block-left-240{
    padding-left: 240px;
}
.block-left-240 .left{
    width: 240px;
    margin-left: -240px;
}


/*footer*/
.footer{
    height: 79px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #f1f1f1;
    border-top: 1px solid #dddddd;
    color: #9b9b9b;
    line-height: 24px;
}
.footer-wrap{
    border-top: 1px solid #fafafa;
    padding: 12px 12px 0;
}
.footer a{
    color: #6e7070;
    margin: 0 4px;
}
.footer .browser{
    float: left;
    margin-left: 4px;
}
.footer .copyright{
    float: right;
}

/*home-page*/
.slide{
}
.tab-content{
    height: 250px;
}
.slide .tab-nav{
    height: 16px;
    padding: 6px 0 6px 40px;
    background: #F9F9F9;
    border-width: 1px 0;
    border-color: #EEEEEE;
    border-style: solid;
    position: relative;
}
.tab-nav .arrow{
    position: absolute;
    top: -7px;
    height: 7px;
    width: 16px;
    background: url("../image/allicon.png") no-repeat -170px -25px;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.active-0 .arrow{
    left: 7%;
}
.active-1 .arrow{
    left: 39%;
}
.tab-nav em{
    display: inline-block;
    height: 16px;
    width: 18px;
    margin-right: 4px;
    float: left;
}
.tab-nav span{
    float: left;
    width: 32%;
    margin-right: 1%;
    cursor: pointer;
}
.tab-nav-1 em{
    background: #009DDB;
}
.tab-nav-2 em{
    background: #A4B800;
}
.tab-nav-3 em{
    background: #CC0033;
}
.tab-nav-1.active, .tab-content h3,
.tab-content-1 li a:hover,
.topic .btn-expand{
    color: #009DDB;
}
.tab-nav-1.active, .tab-content h3,
.tab-content-1 li a:hover{
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.tab-content.contain{
    position: relative;
    padding-bottom: 0;
}
.tab-content .tab-content-1,
.tab-content .tab-content-2{
    float: left;
}
.tab-content h3{
    font-size: 28px;
    font-weight: normal;
    height: 60px;
    line-height: 50px;
}
.tab-content .left ul{
    height: 140px;
    overflow: hidden;
}
.tab-content .left li,
.tab-aside-content h4{
    padding: 0 20px 0 10px;
    background: url("../image/allicon.png") no-repeat -194px -61px;
}
.tab-content li a{
    color: #666666;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    word-wrap: normal;
    display: inline-block;
}
.tab-nav-2.active,
.tab-content-2 h3,
.tab-content-2 li a:hover{
    color: #A4B800;
}
.more-link{
    text-align: right;
    width: 98%;
}
.more-link span{
    background: #009DDB;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 12px;
    font-size: 100%;
    display: block;
}
.more-link a{
    float: right;
    padding-left: 16px;
    background: url("../image/allicon.png") no-repeat -74px -90px;
}
.newsletter{
    width: 265px;
    height: 165px;
    padding: 78px 0 0 55px;
    background: url("../image/sub.png") no-repeat 0 0;
}
.newsletter li{
    height: 22px;
}
.newsletter li input, .form-input li input{
    vertical-align: -2px;
}
.newsletter .email{
    margin: 16px 0 20px;
}
.newsletter .btn-submit{
    border: none;
    cursor: pointer;
    background: #CC0033;
    color: #FFFFFF;
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 88px;
}
.newsletter .tab-nav-1{
    color: #009DDB;
}
.newsletter .tab-nav-2{
    color: #A4B800;
}
.newsletter .tab-nav-3{
    color: #CC0033;
}
.newsletter .email input{
    background: #FAFAFA;
    border: 1px solid #CDCDCD;
    height: 25px;
    line-height: 25px;
    outline: none;
    *vertical-align: -6px;
}
.aside{
    width: 32%;
}
.topic{
    width: 100%;
    position: relative;
}
.topic a,
.tab-aside-content h4 a{
    color: #009DDB;
}
.topic dt{
    font-size: 24px;
    padding-bottom: 6px;
}
.topic .item h4 a{
    color: #666666;
}
.topic dd{
    float: left;
    width: 31%;
    margin-right: 2%;
}
.topic .item{
    margin-bottom: 12px;
    padding: 10px;
    border: 1px solid #ffffff;
}
.topic .item:hover{
    border-color: #cccccc;
    background: #fcfcfc;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}
.topic .item li,.topic .item h4{
    margin-bottom: 1em;
}
.topic .cate-more{
    background: url("../image/allicon.png") no-repeat -2px -100px;
    cursor: pointer;
    height: 14px;
    width: 42px;
    margin-top: 8px;
}
.topic .btn-expand{
    position: absolute;
    top: 10px;
    right: 2%;
    padding-left: 20px;
    background: url("../image/allicon.png") no-repeat -120px -99px;
    cursor: pointer;
    width: 120px;
}
.topic .btn-expand.on{
    background-position: -94px -99px;
}
.btn-expand .on-show{
    display: none;
}
.btn-expand.on .on-show{
    display: inline;
}
.btn-expand.on .off-show{
    display: none;
}
.btn-expand span{
    background: #ffffff;
}
.topic .item .more,
.topic .item.more-show .cate-more{
    display: none;
}
.topic .item.more-show .more{
    display: block;
}

/*simple-search*/
.simple-search-page{
    overflow: visible;
}
.simple-search-page .form-input-wrap{
    padding-right: 22%;
}
.keyword-filter{
    float: right;
    width: 28%;
    margin-right: -28%;
}
.form-input{
    float: left;
    width: 100%;
}
.form-input form{
    padding-left: 2em;
}
.form-input h4{
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 0 20px;
}
.form-input .content-type li{
    width: 18%;
    margin: 0 2% 1% 0;
    float: left;
}
.keyword-input{
    padding-top: 32px;
}
.keyword-input label,.keyword-input input, .keyword-input .input-inner{
    float: left;
    height: 38px;
}
.keyword-input label{
    font-size: 14px;
    font-weight: bold;
    color: #333;
    line-height: 38px;
    width: 78px;
}
.keyword-input .input-inner{
    border: 1px solid #CDCDCD;
    position: relative;
    width: 70%;
    min-width: 500px;
    background: url("../image/allicon.png") no-repeat -26px -119px;
}
.keyword-input .keyword{
    color: #EF003D;
    font-size: 20px;
    line-height: 38px;
    border: none;
    margin: 0 2px 0 38px;
    display: block;
    width: 78%;
}
.keyword-input .his{
    width: 15%;
    height: 36px;
    background: #ECECEC;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-indent: 16px;
}
.his span{
    display: block;
    height: 100%;
    padding-right: 24px;
    line-height: 36px;
}
.his em{
    height: 9px;
    position: absolute;
    right: 4px;
    top: 15px;
    width: 15px;
    overflow: hidden;
    text-indent: -99px;
    background: url("../image/allicon.png") no-repeat -219px -130px;
}
.his ul{
    position: absolute;
    width: 100%;
    top: 37px;
    right: -2px;
    padding: 0 0 1px 1px;
    border: 1px solid #CDCDCD;
    border-top: none;
    z-index: 999;
    background: #ffffff;
    display: none;
}
.his li a{
    display: block;
    line-height: 34px;
    margin-right: 1px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.his li a:hover{
    background: #009ddb;
    color: #ffffff;
    text-decoration: none;
}
.keyword-input .submit{
    background: #009DDB;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-left: 18px;
    text-align: center;
    width: 75px;
    border: none;
}
.form-input .logic-btn{
    padding-left: 78px;
}
.logic-btn a{
    float: left;
    height: 14px;
    width: 56px;
    margin: 10px 10px 0 0;
    background-image: url("../image/allicon.png");
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -99px;
}
.logic-btn-and{
    background-position: -71px 0;
}
.logic-btn-or{
    background-position: -150px 0;
}
.logic-btn-not{
    background-position: 0 0;
}
.logic-btn .logic-btn-help{
    width: 26px;
    background-position: -220px 0;
}
.keyword-filter dl{
    border-left: 1px solid #cdcdcd;
    padding-bottom: 116px;
}
.keyword-filter dt{
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px 20px 10px;
}
.keyword-filter dd{
    padding: 10px 10px 8px;
    border-bottom: 1px dotted #cdcdcd;
}
.keyword-filter dd span{
    background: url("../image/allicon.png") no-repeat -1px -163px;
    margin-right: 5px;
    padding: 21px 0 0 76px;
    height: 0;
    width: 0;
    font-size: 0;
    overflow: hidden;
    vertical-align: bottom;
    zoom: 1;
}
.keyword-filter dd a{
    color: #009DDB;
    vertical-align: 3px;
    *vertical-align: -4px;
}
.keyword-filter dd a:hover{
    text-decoration: none;
}

/*advance search*/
.adv-search-page{
    padding-left: 220px;
    overflow: hidden;
}
.left-nav,.main{
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}
.left-nav{
    width: 220px;
    float: left;
    margin-left: -220px;
    background: #F3F3F3;
}
.main{
    border-left: 1px solid #CDCDCD;
    height: 100%;
    min-height: 500px;
}
.left-nav ul{
   padding: 30px 5px 20px 15px
}
.left-nav li{
    padding-right: 8px;
    margin-bottom: 5px;
    position: relative;

}
.left-nav a{
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    border: 1px solid #F3F3F3;
    background: #F3F3F3;
    text-decoration: none;
    font-size: 12px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.left-nav li em{
    opacity: 0;
    display: none\9;
    height: 12px;
    position: absolute;
    right: 1px;
    top: 15px;
    width: 8px;
    text-indent: -99px;
    overflow: hidden;
    background: url("../image/allicon.png") no-repeat 0 -22px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.left-nav .active a,.left-nav li:hover a{
    border-color: #CDCDCD;
    background: #ffffff;
}
.left-nav .active em,.left-nav li:hover em{
    opacity: 1;
    display: block\9;
}
.adv-form-wrap{
    padding: 20px 0 100px 20px;
}
.adv-form-wrap table{
    width: 98%;
}
.adv-form-wrap .input-text{
    background: #ffffff;
    border: 1px solid #CDCDCD;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    outline: none;
    padding: 0 5px;
    width: 70%
}
.adv-form-wrap .input-text-date{
    width: 100px;
}
.adv-form-wrap th, .adv-form-wrap td{
    padding-top: 20px;
}
.adv-form-wrap th{
    width: 20%;
    min-width: 120px;
    line-height: 32px;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    text-align: right;
    padding-right: 24px;
}
.adv-form-wrap .tips{
    line-height: 20px;
    color: #999999;
    text-indent: -1px;
}
.radio-set{
    padding-top: 4px;
}
.radio-set input{
    margin-right: 4px;
    vertical-align: top;
    *vertical-align: -3px;
}
.radio-set label{
    margin-right: 12px;
}

/*regulation page*/
.regulation-page,.cases-page{
    margin-top: 0;
}
.keyword-scope{
    background: #FBFBFB;
    padding: 0 40px;
    height: 40px;
    line-height: 40px;
}
.keyword-scope .value{
    color: #CC0033;
    margin-left: 10px;
}
.select-scope{
    margin: 16px 0 30px;
    min-width: 1200px;
}
.search-content{
    padding-left: 220px;
}
.left-panel{
    float: left;
    width: 220px;
    margin-left: -221px;
    overflow: hidden;
    zoom: 1;
    border-right: 1px solid #cccccc;
}
.result-wrap{
    float: left;
    width: 100%;
}
.select-type-wrap,
.select-sort-wrap{
    background: #FFFFFF url("../image/allicon.png") no-repeat 20px -15px;
    border: 1px solid #C7D1C9;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 28px;
    line-height: 28px;
    position: relative;
    width: 154px;
    z-index: 444;
    vertical-align: middle;
}
.select-type-wrap{
    margin-left: 20px;
}
.select-type-wrap .selected,
.select-sort-wrap .selected{
    display: block;
    margin: 0 28px 0 6px;
    background: #FFFFFF;
}
.select-scope li{
    float: left;
    height: 14px;
    border-left: 1px solid #999999;
    padding: 0 6px;
    position: relative;
}
.select-scope li a{
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin-top: -14px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-decoration: none;
}
.select-scope li em{
    position: absolute;
    height: 7px;
    left: 50%;
    margin-left: -8px;
    top: 27px;
    width: 15px;
    background: url("../image/allicon.png") no-repeat -219px -144px;
    overflow: hidden;
    text-indent: -99px;
    display: none;
}
.select-scope .active a,.select-scope li:hover a{
    background: #F9F9F9;
    border: 1px solid #cdcdcd;
}
.select-scope .active em,.select-scope li:hover em{
    display: block;
}
.left-panel dl{
    margin: -1px 20px 14px 0;
    border-top: 1px dotted #cccccc;
}
.left-panel dt{
    font-size: 14px;
    color: #333333;
}
.left-panel .col-dt{
    cursor: pointer;
    padding-right: 16px;
    background: url("../image/allicon.png") no-repeat 99px -125px;
}
.left-panel .expand .col-dt{
    background-position: 120px -125px;
}
.left-panel dd{
    display: none;
}
.left-panel .expand dd{
    display: block;
}
.col-dt span{
    display: block;
    padding: 5px 0;
    background: #ffffff;
}
.seaInput{
    border: 1px solid #CDCDCD;
    margin-top: 10px;
    padding-right: 30px;
    background: url("../image/allicon.png") no-repeat 139px -125px;
    cursor: pointer;
}
.seaInput input{
    background: #FFFFFF;
    border: none;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    outline: medium none;
    padding: 0 3px;
    width: 100%;
}
.purchased-link a,.non-purchased-link a{
    text-decoration: none;
}
.purchased-link a{
    color: #009DDB;
}
.effective-region{
    max-height: 200px;
    overflow: auto;
    padding-left: 8px;
}
.effective-region a{
    display: block;
    padding: 3px 0;
    color: #666666;
}
.tool-bar .select-file,
.tool-bar .select-sort,
.tool-bar .setting{
    float: left;
}
.tool-bar .paging{
    float: right;
}
.select-file label{
    display: block;
    margin: 6px 20px 0;
    padding: 2px 30px 0 0;
    background: url("../image/fopen.png") no-repeat 24px 0;
    *padding-top: 0;
    *background-position: 28px 2px;
}
.setting,.paging{
    padding-top: 6px;
}
.setting a{
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    padding: 8px;
    margin: 0 5px;
    vertical-align: middle;
    zoom: 1;
}
.setting .icon-alert{
    background: url("../image/alarm-clock.png") no-repeat 0 0;
}
.setting .icon-email{
    background: url("../image/mail--pencil.png") no-repeat 0 0;
}
.setting .icon-print{
    background: url("../image/printer.png") no-repeat 0 0;
}
.setting .icon-save{
    background: url("../image/disk-black.png") no-repeat 0 0;
}
.paging .count-num{
    color: #ff0000;
    padding: 0 1px;
}
.select-sort .select-sort-wrap{
    float: left;
    margin-right: 8px;
    background-position: 48px -127px;
}
.paging-prev,.paging-next{
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    padding: 11px;
    margin-left: 8px;
    zoom: 1;
    vertical-align: middle;
}
.paging-prev{
    background: url("../image/pre-dis.jpg") no-repeat 0 0;
}
.paging-next{
    background: url("../image/next.jpg") no-repeat 0 0;
}
.list-table{
    padding: 6px 0 0 6px;
}
.list-table table{
    width: 100%;
    border-collapse: collapse;
}
.list-table th{
    background: #f3f3f3;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    text-indent: 4px;
}
.list-table td{
    padding: 12px 4px;
    border-bottom: 1px dotted #cccccc;
}
.list-table tr{
    background: #ffffff;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.list-table tr:hover{
    background: #f9f9f9;
}
.list-title{
    text-indent: 36px;
}
.list-effe{
    width: 12%;
}
.list-artId,
.list-promDate,
.list-prom{
    width: 14%;
}
.list-promDate{
    min-width: 124px;
}
.title-block{
    padding-left: 40px;
    position: relative;
    zoom: 1;
}
.title-block label{
    position: absolute;
    left: 10px;
    top: 3px;
    *top: -2px;
}
.title-link{
    margin-bottom: 10px;
}
.title-link a{
    color: #009DDB;
    font-size: 14px;
    text-decoration: none;
}
.bottom-paging p{
    padding: 10px 10px ;float: right;
}
.bottom-paging a{
    float: left;
    text-decoration: none;
}
.PagePrev {
    background: url("../image/allicon.png") no-repeat 0 -195px;
    display: block;
    height: 14px;
    margin: 11px 10px 0 0;
    width: 50px;
}
.PageChoose {
    background: url("../image/choose.png") no-repeat 0 0;
    display: block;
    height: 26px;
    line-height: 26px;
    margin: 5px;
    text-align: center;
    width: 26px;
}
.PageNext {
    background: url("../image/allicon.png") no-repeat -60px -195px;
    display: block;
    height: 14px;
    margin: 11px 0 0 10px;
    width: 53px;
}
.PageCurr {
    background: url("../image/curr.png") no-repeat 0 0;
    color: #FFFFFF;
    height: 31px;
    line-height: 36px;
    margin: 0;
    width: 26px;
}

/*detail*/
.docview-page{
    padding-right: 340px;
}
.main-inner,.related{
    border: 1px solid #CDCDCD;
    position: relative;
    min-height: 200px;
}
.main-content-wrap{
    float: left;
    width: 100%;
}
.related{
    float: right;
    width: 334px;
    margin-right: -340px;
    color: #489DE1;
    *position: relative;
    *right: -4px;
}
.docview-page .tool-bar{
    height: 50px;
    background: #FBFBFB;
}
.tool-bar-btn{
    float: left;
}
.tool-bar-btn button,
.form-submit-wrap .submit-btn,.form-submit-wrap .reset-btn{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    padding: 0 12px;
    margin: 4px 0 0 5px;
}
.blue-btn{
    background: #489DE1;
}
.red-btn{
    background: #CC0033;
}
.gray-btn{
    background: #e3e3e3;
}
.form-submit-wrap .submit-btn,.form-submit-wrap .reset-btn{
    height: 32px;
    line-height: 32px;
    margin: 0 12px 0 0;
}
.form-submit-wrap .gray-btn{
    color: #333333;
}
.tools{
    float: right;
    padding: 12px 16px 0 0;
}
.tools a{
    background-image: url("../image/icon-toolbar-24.png");
    background-repeat: no-repeat;
    float: left;
    height: 24px;
    margin-left: 6px;
    width: 25px;
    font-size: 0;
}
.tools .icon-print{
    background-position: 0 0;
}
.tools .icon-save{
    background-position: 0 -28px;
}
.tools .icon-email{
    background-position: 0 -59px;
}
.tools .icon-txt{
    background-position: 0 -91px;
}
.tools .icon-rtf{
    background-position: 0 -121px;
}
.tools .icon-word{
    background-position: 0 -150px;
}
.tools .icon-pdf{
    background-position: 0 -180px;
}
.tools .icon-txt-size{
    background-position: 0 -210px;
}
.main-document{
    padding: 0 32px 20px;
}
.main-document .title h2{
    color: #333333;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 24px 0;
}
.main-document .version{
    text-align: right;
    padding-bottom: 4px;
}
.main-document .version a{
    color: #CC0033;
    text-decoration: none;
}
.main-document .go-top{
    float: right;
    color: #009DDB;
    font-size: 12px;
    text-decoration: none;
}
.main-document .reference strong{
    color: #333333;
    font-size: 14px;
}
.document-body{
    min-height: 200px;
    margin: 1em 0;
}
.metadata table{
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}
.metadata th,.metadata td{
    border: 1px solid #cdcdcd;
    padding: 4px 6px;
    line-height: 24px;
}
.metadata th{
    width: 24%;
    min-width: 120px;
    background: #EEEEEE;
}
.related .inner{
    padding: 16px 30px 0;
}
.related-foot{
    background: #FBFBFB;
    margin: 0 -30px;
}
.related-foot span{
    display: block;
    margin-left: 30px;
    padding-left: 34px;
    background: url("../image/allicon.png") no-repeat 0 -116px;
}
.related-foot a{
    display: block;
    height: 46px;
    line-height: 50px;
    background: #FBFBFB;
    color: #009DDB;
    text-decoration: none;
    font-size: 16px;
}
.related h4{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 16px;
}
.related-list dl{
    padding-bottom: 16px;
}
.related-list dt{
    font-size: 16px;
    margin-bottom: 4px;
}
.related-list dd{
    padding-left: 16px;
    background: url("../image/allicon.png") no-repeat -250px 3px;
}
.m-dropDown{
    position: relative;
}
.m-dropDown .select-option{
    border: 1px solid #C7D1C9;
    margin: 0 -1px;
    visibility: hidden;
}
.m-dropDown .select-option a{
    display: block;
    height: 20px;
    line-height: 20px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background: #ffffff;
    color: #666666;
    text-decoration: none;
    padding: 6px;
}
.m-dropDown .select-option a:hover{
    background: #009ddb;
    color: #ffffff;
    padding-left: 1em;
}