body,p,ul,li,h1,h2,h3,h4,h5,h6,input,dl,dd{margin: 0; padding: 0;}
body, html{
    height: 100%;
}
body{
    color: #666666;
    font-family: verdana,Tahoma,Arial,Helvetica,snas-serif;
    font-size: 11px;
    line-height: 1.42857;
    min-width: 1024px;
    background: #ffffff;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
input{
    outline: none;
}
li{
    list-style: none;
}
a,
.main-nav li a:hover,
.tab-content li a,
.more-link a:hover,
.topic a:hover{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.cf {
    *zoom: 1;
    *display: inline-block;
    _height: 1%;
}
.cf:before, .cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*frame*/
.wrap{
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}
.wrap-inner{
    padding-bottom: 80px;
}

/*header*/
.header{
    padding-top: 25px;
    background: #fafafa;
    zoom: 1;
}
.top-bar{
    height: 24px;
    line-height: 24px;
    margin-top: -25px;
    border-bottom: 1px solid #c9c9c9;
    background: url("../image/top_bar.gif") repeat-x 0 2px;
}
.top-bar .tip{
    display: inline-block;
    padding-left: 24px;
    background: url("../image/info.gif") no-repeat 4px 4px;
}
.top-bar .tiny-menu{
    position: absolute;
    top: 0;
    right: 12px;
}
.tiny-menu li{
    float: left;
    padding-left: 4px;
}
.tiny-menu a{
    color: #666666;
    display: block;
    height: 24px;
    text-indent: -999px;
    overflow: hidden;
    background-image: url("../image/toolbar_icons.gif");
    background-repeat: no-repeat;
}
.tiny-menu .logout a{
    width: auto;
    text-indent: 0;
    background: none;
}
.home a{
    width: 24px;
    background-position: -22px 1px;
}
.landing a{
    width: 22px;
    background-position: -182px 1px;
}
.product a{
    width: 28px;
    background-position: -44px 1px;
}
.email a{
    width: 28px;
    background-position: -69px 1px;
}
.service a{
    width: 28px;
    background-position: -94px 1px;
}
.language a{
    width: 22px;
    background-position: 0 1px;
}
.feedback a{
    width: 80px;
    background: url("../image/feedback_en.gif") no-repeat 0 4px;
}
.help a{
    width: 22px;
    background-position: -142px 1px;
}
.top-search,
.header .logo{
    margin-left: 40px;
    margin-right: 40px;
}
.header .logo{
    float: left;
    height: 40px;
    overflow: hidden;
    color: #CC0033;
    padding-left: 150px;
    margin-top: 24px;
    background: url("../image/logo-png8.png") no-repeat -10px 0;
}
.logo h2{
    font-size: 16px;
    line-height: 42px;
    font-weight: normal;
}
.top-search{
    float: right;
    height: 36px;
    border: 1px solid #e9e9e9;
    background:#ffffff url("../image/search-form-bg.gif") repeat-x 0 14px;
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
}
.top-search .search-input{
    height: 34px;
    line-height: 34px;
    border: 1px solid #dddddd;
    width: 380px;
    padding: 0 12px;
    box-shadow: 0 0 3px #cccccc inset;
    font-size: 20px;
    color: #EF003D;
    vertical-align: middle;
    border-radius: 18px 0 0 18px;
}
.top-search .select-option{
    padding: 4px 0;
    line-height: 14px;
}
.select-option input{
    vertical-align: bottom;
    margin: 0 2px 0 6px;
}
.top-search .search-text{
    color: #ffffff;
    height: 36px;
    width: 36px;
    background: #eeeeee url("../image/search-btn.gif") no-repeat center;
    text-indent: -999px;
    overflow: hidden;
    border: 1px solid #cccccc;
    cursor: pointer;
    vertical-align: middle;
}
.area, .nav-wrap{
    clear: both;
}
.area{
    margin: 0 0 6px 40px;
}
.area span{
    cursor: default;
}
.area .heading{
    font-size: 14px;
    font-weight: normal;
}
.area .active{
    font-weight: bold;
}
.main-nav{
    padding-left: 40px;
    background: #efefef;
    border-bottom: 1px solid #dddddd;
}
.main-nav li{
    float: left;
    position: relative;
    line-height: 20px;
    padding: 0 3px;
    margin-left: -5px;
}
.main-nav li a{
    display: block;
    padding: 10px 20px;
    font-size: 12px;
    color: #5e5e5e;
}
.main-nav li a:hover{
    background: #FF456f;
    color: #ffffff;
    -moz-transition: background 0.4s;
    -webkit-transition: background 0.4s;
}
.main-nav .active li a{
    background: none;
    color: #5e5e5e;
}
.main-nav .active a,.main-nav li:hover > a, .main-nav .active li:hover > a{
    background: #FF456f;
    color: #ffffff;
}
.caret{
    border-style: solid;
    border-width: 5px 5px 0 0;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    width: 0;
    border-top-color: #efefef;
    border-right-color: #5e5e5e;
}
.main-nav li:hover .caret, .main-nav .active .caret{
    border-top-color: #FF456f;
    border-right-color: #ffffff;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.main-nav li ul{
    visibility: hidden;
    position: absolute;
    border: 1px solid #dddddd;
    background: #ffffff;
    padding: 3px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    border-radius: 0 0 4px 4px;
}
.main-nav li:hover ul{
    visibility: visible;
}
.main-nav li li{
    float: none;
    margin-left: 0;
}
.main-nav li li a{
    padding-top: 4px;
    padding-bottom: 4px;
}
.user-sub{
    width: 148px;
}
.search-sub{
    width: 160px;
}
.consultant-sub, .practical-sub{
    width: 100%;
}

/*contain*/
.contain{
    padding: 24px 40px;
    background: #ffffff;
}
.left{
    float: left;
}
.right{
    float: right;
}
.block-right-320{
    padding-right: 320px;
}
.block-right-320 .left{
    width: 100%;
}
.block-right-320 .right{
    width: 320px;
    margin-right: -320px;
}
.blank-10{
    clear: both;
    height: 10px;
    font-size: 0;
}
.block-left-280{
    padding-left: 280px;
}
.block-left-280 .left{
    width: 280px;
    margin-left: -280px;
}


/*footer*/
.footer{
    height: 79px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #f1f1f1;
    border-top: 1px solid #dddddd;
    color: #9b9b9b;
    line-height: 24px;
}
.footer-wrap{
    border-top: 1px solid #fafafa;
    padding: 12px 12px 0;
}
.footer a{
    color: #6e7070;
    margin: 0 4px;
}
.footer .browser{
    float: left;
    margin-left: 4px;
}
.footer .copyright{
    float: right;
}

/*home-page*/
.slide{
    padding-right: 20px;
}
.tab-content{
    height: 210px;
}
.slide .tab-nav{
    height: 16px;
    padding: 6px 0 6px 10px;
    background: #F9F9F9;
    border-width: 1px 0;
    border-color: #EEEEEE;
    border-style: solid;
    position: relative;
}
.tab-nav .arrow{
    position: absolute;
    top: -7px;
    left: 70px;
    height: 7px;
    width: 16px;
    background: url("../image/allicon.png") no-repeat -170px -25px;
}
.tab-nav em{
    display: inline-block;
    height: 16px;
    width: 18px;
    margin-right: 4px;
    float: left;
}
.tab-nav span{
    float: left;
    width: 32%;
    margin-right: 1%;
    cursor: pointer;
}
.tab-nav-1 em{
    background: #009DDB;
}
.tab-nav-2 em{
    background: #A4B800;
}
.tab-nav-3 em{
    background: #CC0033;
}
.tab-nav .active, .tab-content .active h3,
.tab-content-1 li a:hover,
.topic .btn-expand{
    color: #009DDB;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.tab-content h3{
    font-size: 28px;
    font-weight: normal;
    height: 50px;
    line-height: 42px;
}
.tab-content ul{
    height: 120px;
    overflow: hidden;
}
.tab-content li,
.tab-aside-content h4{
    padding-left: 10px;
    background: url("../image/allicon.png") no-repeat -194px -61px;
}
.tab-content li a{
    color: #666666;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    word-wrap: normal;
    display: inline-block;
}
.more-link{
    text-align: right;
    width: 98%;
}
.more-link span{
    background: #009DDB;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 12px;
    font-size: 100%;
    display: block;
}
.more-link a{
    float: right;
    padding-left: 16px;
    background: url("../image/allicon.png") no-repeat -74px -90px;
}
.newsletter{
    width: 320px;
    height: 243px;
    background: url("../image/sub.png") no-repeat 0 0;
}
.newsletter form{
    padding: 78px 0 0 55px;
}
.newsletter li{
    height: 22px;
}
.newsletter li input{
    vertical-align: -2px;
}
.newsletter .email{
    margin: 16px 0 20px;
}
.newsletter .btn-submit{
    border: none;
    cursor: pointer;
    background: #CC0033;
    color: #FFFFFF;
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 88px;
}
.newsletter .tab-nav-1{
    color: #009DDB;
}
.newsletter .tab-nav-2{
    color: #A4B800;
}
.newsletter .tab-nav-3{
    color: #CC0033;
}
.newsletter .email input{
    background: #FAFAFA;
    border: 1px solid #CDCDCD;
    height: 25px;
    outline: medium none;
}
.aside{
    width: 32%;
}
.topic{
    width: 67%;
    position: relative;
}
.topic a,
.tab-aside-content h4 a{
    color: #009DDB;
}
.topic dt{
    font-size: 24px;
    padding-bottom: 6px;
}
.topic .item h4 a{
    color: #666666;
}
.topic dd{
    float: left;
    width: 31%;
    margin-right: 2%;
}
.topic .item{
    margin-bottom: 12px;
    padding: 10px;
    border: 1px solid #ffffff;
}
.topic .item:hover{
    border-color: #cccccc;
    background: #fcfcfc;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}
.topic .item li,.topic .item h4{
    margin-bottom: 1em;
}
.topic .cate-more{
    background: url("../image/allicon.png") no-repeat scroll -2px -100px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 14px;
    width: 42px;
    margin-top: 8px;
}
.topic .btn-expand{
    position: absolute;
    top: 10px;
    right: 2%;
    padding-left: 20px;
    background: url("../image/allicon.png") no-repeat -120px -100px;
    cursor: pointer;
}
.btn-expand span{
    background: #ffffff;
}
.tab-aside-content{
    border: 1px solid #dddddd;
    border-top: none;
    padding: 0 20px 20px;
    overflow: hidden;
}
.tab-aside-content .item{
    padding: 10px 0;
    border-bottom: 1px dotted #dddddd;
    margin-bottom: -1px;
}
.tab-aside-content h4{
    overflow: hidden;
    height: 22px;
    line-height: 22px;
    text-overflow: ellipsis;
    word-wrap: normal;
    display: inline-block;
}
.tab-aside-content .item-content{
    padding: 0 10px;
}
.meet-team{
    margin-top: 20px;
    height: 160px;
    background: #efefef;
}

/*regulation page*/
.regulation-page .right-content{
    margin-left: 18px;
}
.filter-box{
    min-height: 300px;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    background: #fafafa;
}
.list-bar{
    height: 38px;
    border: 1px solid #dfdfdf;
    border-radius: 3px 3px 0 0;
    background: #fafafa;
}